<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listes de courses</title>
    <meta name="description" content="Application ayant pour but de faire sa liste de courses, avec une gestion facile en magasin sur téléphone">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta property="og:site_name" content="Liste de courses">
    <meta property="og:title" content="Liste de courses">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://food-list-jolo.herokuapp.com/">
    <meta property="og:description" content="Application ayant pour but de faire sa liste de courses, avec une gestion facile en magasin sur téléphone">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= stylesheet_pack_tag 'hello_react' %>
    <%= javascript_pack_tag 'hello_react' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>

